[Unit]
Description=birth
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/cam/birth
ExecStart=/home/cam/birth/.venv/bin/python /home/cam/birth/run_display.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/cam/birth/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
